<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JIRA2</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <div><a class="navbar-brand" href="#">JIRA2</a></div>
      <div><a href="#" class="btn btn-info"><i class="fa fa-user" aria-hidden="true"></i> <%= currentUser.name %></a></div>
      <div><a href="/user/logout" class="btn btn-danger">Logout</a></div>
    </nav>
  </body>
</html>
