<% if(typeof errors!= 'undefined') { %>
      <% errors.forEach(function(error){ %>
            <p> <%= error.msg %></p>
      <% }) %>
<% } %>
    
<% if(success_msg!= '') { %>
      <p><%=success_msg %> </p>
<% } %>
    
<% if(error_msg != '') { %>
      <p><%= error_msg %></p> 
<% } %> 

<% if(error != '') { %>
      <p><%= error %> </p>
<% } %> 