<% include partials/_header %>
<% include partials/messages %>

<div class="container">
  <div class="row">
    <div class="col-md-7">
          <h2>Active Tasks</h2>
    </div>
    <div class="col-md-5">
          <a href="/user/list_user" class="btn btn-info">
            Users
          </a>
          <a href="/status/list_status" class="btn btn-info">
            Statuses
          </a>
          <a href="/archive" class="btn btn-info">
            Archive
          </a>
          <a href="/create_task" class="btn btn-success">
            Create New Task
          </a>
    </div>
  </div>
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
            <% if(!tasks[i].archive){%>
              <tr>
                <td><%= i + 1%></td>
                <td><strong><%= tasks[i].title.substring(0, 20) + (tasks[i].title.length > 20 ? '...' : '')%></strong></td>
                <td><%= tasks[i].description.substring(0, 50) + (tasks[i].description.length > 50 ? '...' : '')%></td>
                <td><%= tasks[i].status.name %></td>
                <td><%= tasks[i].assignee.name %></td>
                <td>
                  <% if(currentUser.isAdmin || currentUser.id == tasks[i].creator.id){ %>
                    <a href="/archive_task/<%= tasks[i]._id %>"
                      class="btn btn-secondary">
                      Archive
                    </a>
                  <% } %>
                  <% if(currentUser.isAdmin){ %>
                  <a href="/delete/<%= tasks[i]._id %>"
                    class="btn btn-danger">
                    Delete
                  </a>
                  <% } %>
                  <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
                    Edit
                  </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

