<% include partials/_header %>
<% include partials/messages %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Statuses</h2>
    </div>
    <div class="col-md-4">
      <a href="/status/create_status" class="btn btn-success">
        Create New Status
      </a>
      <a href="/dashboard" class="btn btn-info">
        Back To Active Tasks
      </a>
    </div>
  </div>
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Name</th>
            <th>Creator</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < statuses.length; i++) { %>
            <% if(statuses[i].name != 'NO STATUS'){%>
              <tr>
                <td><%= i + 1%></td>
                <td><strong><%= statuses[i].name %></strong></td>
                <td><%= statuses[i].creator.name %></td>
                <td>
                  <% if(currentUser.isAdmin){ %>
                  <a href="/status/delete/<%= statuses[i]._id %>"
                    class="btn btn-danger">
                    Delete
                  </a>
                  <% } %>
                  <a href="/status/edit/<%= statuses[i]._id %>" class="btn btn-info">
                    Edit
                  </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

