<% include partials/_header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form action="/status/create_status" method="post">
            <div class="form-group">
              Name:
              <input class="form-control" type="text" name="name" placeholder="Add a Name">
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

