<% include partials/_header %>
<% include partials/messages %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form action="/status/edit/<%= status._id %>" method="post">
            <div class="form-group">
              Name:
              <input class="form-control" type="text" name="name" placeholder="Name" value="<%= status.name %>">
            </div>
            <div class="form-group">
              Creator:
            </br>
            <%= status.creator.name %>
            </div>
            <button class="btn btn-primary" type="submit">
              Update 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

