<% include partials/_header %>
<% include partials/messages %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= task._id %>" method="post">
            <div class="form-group">
              Title:
              <input class="form-control" type="text" name="title" placeholder="Title" value="<%= task.title %>">
            </div>
            <div class="form-group">
              Description:
              <textarea class="form-control" name="description" cols="80"
                placeholder="Add a Description"
                ><%= task.description %></textarea>
            </div>
            <div class="form-group">
              Status:
            </br>
            <% for(var i = 0; i < statuses.length; i++) { %>
              <% if(statuses[i].name != 'NO STATUS'){%>
                <input type="radio" name="status" value="<%= statuses[i].id %>" id="<%= statuses[i].id %>" <%= statuses[i].id == task.status.id ? 'checked' : ''%>> <%= statuses[i].name %>
              <% } %>
            <% } %>
            </div>
            <div class="form-group">
              Creator:
            </br>
            <%= task.creator.name %>
            </div>
            <div class="form-group">
              Assignee:
            </br>
            <select name="userId">
              <% var options = []; %>
              <% for(var i = 0; i < users.length; i++) { %>
                <option <%= task.assignee.id == users[i].id ? 'selected' : ''%> value='<%= users[i].id %>'><%= users[i].name %></option>
              <% } %>
            </select>
            </div>
            <button class="btn btn-primary" type="submit">
              Update 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

