<% include partials/_header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form action="/create_task" method="post">
            <div class="form-group">
              Title:
              <input class="form-control" type="text" name="title" placeholder="Add a Title">
            </div>
            <div class="form-group">
              Description:
              <textarea class="form-control" name="description" cols="80"
                placeholder="Add a Description"
              ></textarea>
            </div>
            <div class="form-group">
              Status:
            </br>
            <% for(var i = 0; i < statuses.length; i++) { %>
              <% if(statuses[i].name != 'NO STATUS'){%>
                <input type="radio" name="status" value="<%= statuses[i].id %>" id="<%= statuses[i].id %>" checked> <%= statuses[i].name %>
              <% } %>
            <% } %>
            </div>
            <div class="form-group">
              Assignee:
            </br>
            <select name="userId">
              <% var options = []; %>
              <% for(var i = 0; i < users.length; i++) { %>
                <option value='<%= users[i].id %>'><%= users[i].name %></option>
              <% } %>
            </select>
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

