<% include partials/_header %>
<% include partials/messages %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Active Users</h2>
    </div>
    <div class="col-md-3">
      <a href="/dashboard" class="btn btn-success">
        Back to Active Tasks
      </a>
    </div>
  </div>
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Name</th>
            <th>Email</th>
            <th>isAdmin</th>
            <th>Created At</th>
            <% if(currentUser.isAdmin){ %>
              <th>Operations</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < users.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><%= users[i].name %></td>
              <td><%= users[i].email %></td>
              <td><%= users[i].isAdmin %></td>
              <td><%= users[i].date %></td>
              <% if(currentUser.isAdmin){ %>
                <td>
                  <a href="/user/delete/<%= users[i]._id %>"
                    class="btn btn-danger">
                    Delete
                  </a>
                </td>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

